[Unit]
Description=Missionary Board Server

[Service]
Restart=always
WorkingDirectory=/home/orangepi/mboard
ExecStart=system/mboard.service.start.sh

[Install]
WantedBy=multi-user.target
