[Unit]
Description=Missionary Board Server

[Service]
Restart=always
WorkingDirectory=%h/missionary-board
ExecStart=%h/.local/bin/uv run uvicorn --app-dir ./src --log-config ./conf/uvicorn.logger.json mboard.main:app

[Install]
WantedBy=default.target
