/* CSS for the slide show */

body {
    margin: 20px;
    font-family: sans-serif;
    color: #aaa;
    background: #3a3f44;
}

.fadein {
    animation: fadein 4s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeout {
    animation: fadeout 4s;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#setup {
    position: absolute;
    filter: invert(80%);
    bottom: 10px;
    left: 10px;
    width: 10px;
}

#setup:hover {
    transform: scale(2);
}

#setup.error {
    /* Turn the icon red */
    filter: invert(18%) sepia(100%) saturate(7483%) hue-rotate(1deg) brightness(97%) contrast(104%);
}
