<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/app.css') }}" rel="stylesheet">
    <!-- <script src="script.js"></script> -->
    {% block head %}{% endblock %}
</head>

<body>
    <section class="section">
        <container class="container">
            <a href="{{ url_for('slides') }}">
                <img class="icon" src="{{ url_for('static', path='/account-box-multiple.svg') }}" alt="slide show" class="logo">
                Slide Show
            </a>
            </span>
            {% if request.session.get("user") %}
            &nbsp; <a href="#" onclick="document.getElementById('logout').submit()">
                <img class="icon" src="{{ url_for('static', path='/logout.svg') }}" alt="logo" class="logo">
                Logout
            </a>
            </span>
            <form id="logout" action="{{ url_for('logout') }}" method="post"></form>
            {% endif %}
        </container>
    </section>
    <section class="section">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>
</body>

</html>