{% extends 'base.html' %}

{% block title %}Missionary Board Setup{% endblock %}

{% block content %}

<div class="container" style="max-width: 600px">
    <h1 class="title">Missionary Board Setup</h1>

    <div class="block">
        {% if setup_error %}
        <article class="message is-danger">
            <div class="message-header">
                {{ setup_error }}
            </div>
            <div class="message-body">
                {{ setup_error_description }}
            </div>
        </article>
        {% endif %}
    </div>

    <div class="block">
        <div class="accordion">
            <input type="checkbox" id="accordion-toggle" class="accordion-toggle">
            <div class="accordion-header control block">
                <label for="accordion-toggle" class="accordion-label button link">Click for setup help</label>
            </div>
            <div class="accordion-body block">
                <p><b>To connect to your Google Photos account:</b></p>
                <br />
                <ol>
                    <li>Enable the Photos API <a
                            href="https://console.cloud.google.com/apis/library/photoslibrary.googleapis.com"
                            target="_blank">here</a></li>
                    <li>Begin setting up credentials by going <a
                            href="https://console.cloud.google.com/apis/credentials" target="_blank">here</a></li>
                    <li>Click "Create Credentials" and choose "OAuth client ID"
                    from the menu</li>
                    <li>Choose "Web application" for the application type with a
                    name like "Missionary Board"</li>
                    <li>Under "Authorized redirect URIs" enter
                        <code>{{ url_for('authorize') }}</code>
                    </li>
                    <li>Click "Create"</li>
                    <li>Copy the "Client ID" and "Client secret" from that page into the form
                        below</li>
                    <li>Click "Submit"</li>
                    <li>Follow the prompts to authorize access to your account</li>
                    <li>If, in the future, there are authorization problems,
                    return to this page, double-check the entered values and
                    submit the form again to re-authorize access to your account</li>
                </ol>
                <br />
                <p><b>To add missionary photos:</b></p>
                <br />
                <ol>
                    <li>Make an album called "Missionary Board" in your account and
                        upload missionary photos there</li>
                    <li>When viewing a photo, click the "info" icon</li>
                    <li>Enter information about the missionary in the "Add a
                        description" field</li>
                    <li>The first line should be the missionary's name while following
                        lines can be things like ward, mission name, dates serving, etc.</li>
                </ol>
            </div>
        </div>
    </div>

    <form action="" method="post">
        <div class="field">
            <label for="client_id" class="label">Client ID</label>
            <div class="control">
                <input type="text" id="client_id" name="client_id" value="{{ client_id }}" class="input" />
            </div>
            {% if client_id_error %}
            <p class="help is-danger">{{ client_id_error }}</p>
            {% endif %}
        </div>

        <div class="field">
            <label for="client_secret" class="label">Client Secret</label>
            <div class="control">
                <input type="text" id="client_secret" name="client_secret" value="{{ client_secret
                }}" class="input" />
            </div>
            {% if client_secret_error %}
            <p class="help is-danger">{{ client_secret_error }}</p>
            {% endif %}
        </div>
        <br />
        <div class="control">
            <button type="submit" class="button is-info">Submit</button>
        </div>
    </form>
</div>
{% endblock %}