{% extends 'base.html' %}

{% block title %}Missionaries{% endblock %}

{% block head %}
<meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}
<div class="container">

    {% if missionaries|length == 0 %}
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                Loading...
            </p>
            <p class="subtitle">
                Missionaries should appear here shortly.
            </p>
            <p>
                <progress class="progress is-info" max="100"></progress>
            </p>
        </div>
    </section>
    {% endif %}

    {% for missionary in missionaries %}

    <div class="card">
        <div class="photo">
            <img src="{{ url_for('photos', path=missionary.image_path) }}">
        </div>
        <div class="info">
            <span class="name">{{missionary.name}}</span><br />
            <span class="ward">{{missionary.ward}}</span><br />
            <span class="mission">{{missionary.mission}}</span>
            <span>{{missionary.start}} - {{missionary.end}}</span>
        </div>
    </div>

    {% endfor %}

</div>
{% endblock %}