<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Missionaries</title>
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}" type="image/x-icon" />
    <!-- <script src="script.js"></script> -->
    <meta http-equiv="refresh" content="30; url={{ next_url }}">
    {% if missionaries|length == 0 %}
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    {% else %}
    <link href="{{ url_for('static', path='/slide.css') }}" rel="stylesheet">
    {% endif %}
</head>

<body id="body" class="fadein">
    <section class="section">
        <div class="container">
            {% if missionaries|length == 0 %}
            <section class="hero is-primary">
                <div class="hero-body">
                    <p class="title">
                        Loading...
                    </p>
                    <p class="subtitle">
                        Looking for missionaries to display. Be sure to add some
                        in Google Photos.
                    </p>
                    <p>
                        <progress class="progress is-info" max="100"></progress>
                    </p>
                </div>
            </section>
            {% else %}
            <div id="setup">
                <a href="{{ url_for('setup') }}">
                    <img src="{{ url_for('static', path='/cog.svg') }}" alt="setup">
                </a>
            </div>
            {% endif %}

            {% for missionary in missionaries %}

            <div class="card">
                <div class="photo">
                    <img src="{{ url_for('photos', path=missionary.image_path) }}">
                </div>
                <div class="info">
                    <p class="name">{{missionary.name}}</p>
                    <p>
                        {% for detail in missionary.details %}
                        <span class="detail">{{detail}}</span><br />
                        {% endfor %}
                    </p>
                </div>
            </div>

            {% endfor %}
        </div>
    </section>
</body>

<script>
    window.onbeforeunload = function (e) {
        document.getElementById('body').className = 'fadeout';
    }
</script>

</html>