<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Missionaries</title>
    <!-- <script src="script.js"></script> -->
    <meta http-equiv="refresh" content="30; url={{ next_url }}">
    {% if missionaries|length == 0 %}
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    {% else %}
    <link href="{{ url_for('static', path='/slide.css') }}" rel="stylesheet">
    {% endif %}
</head>

<body id="body" class="fadein">
    <section class="section">
        <div class="container">
            {% if missionaries|length == 0 %}
            <section class="hero is-primary">
                <div class="hero-body">
                    <p class="title">
                        Loading...
                    </p>
                    <p class="subtitle">
                        Missionaries should appear here shortly.
                    </p>
                    <p>
                        <progress class="progress is-info" max="100"></progress>
                    </p>
                </div>
            </section>
            {% endif %}

            {% for missionary in missionaries %}

            <div class="card">
                <div class="photo">
                    <img src="{{ url_for('photos', path=missionary.image_path) }}">
                </div>
                <div class="info">
                    <span class="name">{{missionary.name}}</span><br />
                    {% for detail in missionary.details %}
                    <span class="detail">{{detail}}</span><br />
                    {% endfor %}
                </div>
            </div>

            {% endfor %}
        </div>
    </section>
</body>

<script>
    window.onbeforeunload = function (e) {
        document.getElementById('body').className = 'fadeout';
    }
</script>

</html>